.brief {
  display: flex;
  flex-direction: row;
  @media (min-width: $width-mobile) and (max-width: $width-tablet) {
    display: block;
  }
}
.brief__image-wrapper {
  &--greece {
    background-image: url("../img/aleyna-rentz-desktop-1.jpg");
  }
  &--albany {
    background-image: url("../img/polina-rytova-desktop-1.jpg");
  }
  &--macedonia {
    background-image: url("../img/milana-jovanov-desktop-1.jpg");
  }
  &--montenegro {
    background-image: url("../img/hanna-bezsonova-desktop-1.jpg");
  }
  &--croatia {
    background-image: url("../img/robert-thiemann-desktop-1.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 41%;
  margin-top: -1%;
  @media (min-width: $width-mobile) and (max-width: $max-width-tablet) {
    display: none;
  }
}

@media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
  .brief__image-wrapper {
    &--greece {
      background-image: url("../img/aleyna-rentz-desktop-1@2x.jpg");
    }
    &--albany {
      background-image: url("../img/polina-rytova-desktop-1@2x.jpg");
    }
    &--macedonia {
      background-image: url("../img/milana-jovanov-desktop-1@2x.jpg");
    }
    &--montenegro {
      background-image: url("../img/hanna-bezsonova-desktop-1@2x.jpg");
    }
    &--croatia {
      background-image: url("../img/robert-thiemann-desktop-1@2x.jpg");
    }
  }
}
@media (min-width: $width-mobile) and (max-width: $max-width-tablet) and (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
  .brief__image-wrapper {
    &--greece {
      background-image: none;
    }
    &--albany {
      background-image: none;
    }
    &--macedonia {
      background-image: none;
    }
    &--montenegro {
      background-image: none;
    }
    &--croatia {
      background-image: none;
    }
  }
}


.brief__title {
  @include text-sets(4em,1.7em,600);
  color: #2C2E3F;
  position: relative;
  margin: 0 0 12%;
  &::after {
    content: "";
    width: 9.2vw;
    position: absolute;
    height: 3px;
    background-color: #FE7865;
    bottom: -17%;
    left: 0;
  }
  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
    font-size: 30px;
    line-height: 45px;
    margin: 0 0 20px;
    &::after {
      content: "";
      width: 0;
      height: 0;
      background-color: transparent;
    }

  }
  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    font-size: 24px;
    line-height: 36px;
    position: static;
    &::after {
      content: "";
      width: 0;
      height: 0;
      background-color: transparent;
    }
  }
}
.brief__desc {
  @include text-sets(1.2em,177%,normal);
  color: rgba(#2C2E3F, 0.7);
  margin: 0 0 12%;
  text-align: unset;
  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    @include text-sets(16px,28px,normal);
    text-align: center;
  }

  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
    @include text-sets(16px,28px,normal);
    margin: 0 0 20px;
  }
}

.brief__text {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 7%;
  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
   width: auto;
    padding: 0 16px;
    align-items: center;
    margin: 0 auto;
  }
  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
    width: auto;
    margin: 0 auto;
    padding: 0 21px;
    text-align: center;
  }
}
.brief__button {
  width: 64%;
  padding: 8% 0;
  box-sizing: border-box;
  margin: auto;
  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    margin: 0 auto 20px;
    padding: 19px 0;
    width: 100%;
  }
  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
    margin: 0 auto 30px;
    width: 250px;
    padding: 19px 0;
  }
}



