.business {
  padding: 0;

  @media (max-width: $width-desktop) {
    padding: 28px 0;
  }

  @media (max-width: $width-tablet) {
    padding: 25px 0 20px;
  }
}

.business__title {
  @include text-sets(18px,32px,600);
  color: #141517;
  margin-left: 17%;
  margin-bottom: 7%;

  @media (max-width: $width-desktop) {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    margin: 0 0 20px;
  }
}

.business__desc {
  @include text-sets(14px,23px,normal);
  color: rgba(#141517, 0.5);
  margin-left: 17%;
  margin-bottom: 7%;
  padding-right: 3%;

  @media (max-width: $width-desktop) {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  @media (max-width: $width-tablet) {
    line-height: 24px;
  }
}
