.business__title {
  @include text-sets(1.4em,1.5em,600);
  color: #141517;
  margin-left: 17%;
  margin-bottom: 7%;
}
.business__desc {
  @include text-sets(1em,1.7em,normal);
  color: rgba(#141517, 0.5);
  margin-left: 17%;
  margin-bottom: 7%;
  padding-right: 3%;
}
