.button {
  @include text-sets(12px,14px,600);
  color: #ffffff;
  background-color: #fe7865;

  &:hover,
  &:active {
    background-color: #f17d4b;
  }
  text-transform: uppercase;
  text-align: center;
  border: none;

  @media (max-width: $width-desktop) {
    @include text-sets(10px,12px,500);
    width: 250px;
  }

  @media (max-width: $width-tablet) {
    width: 288px;
  }
}
