.buy {
  background-color: #fbf8f8;
  width: 728px;
  height: 444px;
  z-index: 5;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  box-sizing: border-box;

  &--info {
    @media (min-width: $width-desktop) {
      background-image: url("../img/buy-tour.jpg");
      background-repeat: no-repeat;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @media (max-width: $width-desktop) {
    width: 320px;
    height: 568px;
  }
}

@media (min-width: $width-desktop) and (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
  .buy {
    &--info {
      background-image: url("../img/buy-tour@2x.jpg");
      background-size: 50% auto;
    }
  }
}

.buy__button {
  &--success {
    text-align: right;
    align-self: flex-end;
  }
}

.buy__title {
  @include text-sets(25px, 42px, 600);
  color: #48494d;
  margin-right: 107px;
  margin-top: 79px;
  margin-bottom: 50px;

  @media (max-width: $width-desktop) {
    margin: 100px auto 50px;
  }
}

.buy__form {
  margin-right: 80px;

  @media (max-width: $width-desktop) {
    width: 100%;
    padding: 0 21px;
    box-sizing: border-box;
    margin: 0;
  }
}

.buy-form__input-list {
  @include list-refresh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $width-desktop) {
    margin: 0;
  }
}

.buy-form__input {
  margin-bottom: 20px;
}

.buy-form__button {
  width: 176px;
  padding: 18px 2%;
  display: block;
  margin-left: 35px;

  @media (max-width: $width-desktop) {
    width: 100%;
    padding: 19px 0;
    margin: 0;
  }
}
