.close {
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  content: "";
  border: 0;
  background-color: transparent;
  margin: 12px 11px 10px auto;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
