.consult {
  min-height: 66vh;
  position: relative;
  background-image: url("../img/anastasia-leonova-desktop.jpg");
  background-repeat: no-repeat;
  background-position-x: 36%;
  background-position-y: -29%;
  margin-bottom: 8%;

  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    background-color: #FBF8F8;
  }
  @media (min-width: $width-tablet) {
    background-color: #FFFFFF;
  }
  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
    background-image: url("../img/anastasia-leonova-laptop.jpg");
  }
}
@media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
  .consult {
    background-image: url("../img/anastasia-leonova-desktop@2x.jpg");
    background-size: 50% auto;
  }
}
@media (min-width: $width-tablet) and (max-width: $max-width-tablet) and (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
  .consult {
    background-image: url("../img/anastasia-leonova-laptop@2x.jpg");
    background-size: 50% auto;
  }
}
.consult__wrapper {
  margin: 0 auto;
  padding: 0 19.5%;
}

.consult__title {
  @include text-sets(1.9em,1.3em,600);
  color: #141517;
  text-align: center;
  margin: 9% 0 2%;
}
.consult__desc {
  @include text-sets(1.2em,1.6em,normal);
  color: #141517;
  text-align: center;
  margin: 0 0 3%;
}
.consult__content {
  background-color: #FFFFFF;
  position: absolute;
  right: 19%;
  top: 15%;
  border-radius: 6px;
  padding: 0 1%;
  width: 32%;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1)
}


