.consult__wrapper {
  padding: 70px 21px;

  @media (max-width: $width-desktop) {
    padding-bottom: 75px;
  }

  @media (max-width: $width-tablet) {
    padding: 0 17px;
  }
}

.consult {
  padding: 0 6%;
  position: relative;
  height: 455px;
  background-image: url("../img/anastasia-leonova-desktop.jpg");
  background-repeat: no-repeat;
  background-position-x: 36%;
  background-position-y: -29%;
  margin: 0 auto 8%;
  min-width: 800px;

  @media (max-width: $width-desktop) {
    background-image: url("../img/anastasia-leonova-laptop.jpg");
    background-size: cover;
    height: auto;
    max-height: unset;
    min-width: auto;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $width-tablet) {
    background-color: #ffffff;
  }

  @media (max-width: $width-tablet) {
    background-color: #fbf8f8;
    background-image: none;
    position: static;
    width: auto;
  }
}

@media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
  .consult {
    background-image: url("../img/anastasia-leonova-desktop@2x.jpg");
    background-size: contain;
  }
}

@media (max-width: $width-desktop) and (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
  .consult {
    background-image: url("../img/anastasia-leonova-laptop@2x.jpg");
    background-size: cover;
  }
}

@media (max-width: $width-tablet) and (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
  .consult {
    background-image: none;
  }
}

.consult__title {
  @include text-sets(25px, 32px, 600);
  color: #141517;
  text-align: center;
  margin: 70px 0 5px;

  @media (max-width: $width-desktop) {
    font-size: 25px;
    line-height: 32px;
    margin: 0 0 14px;
  }
}

.consult__desc {
  @include text-sets(16px, 24px, normal);
  color: #141517;
  text-align: center;
  margin: 0 0 3%;

  @media (max-width: $width-desktop) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 20px;
  }

  @media (max-width: $width-tablet) {
    margin: 0 0 23px;
  }
}

.consult__content {
  background-color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 42%;
  border-radius: 6px;
  padding: 0 1%;
  width: 34%;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
  max-height: 315px;
  box-sizing: border-box;
  min-width: 579px;

  @media (max-width: $width-desktop) {
    position: static;
    background-color: #ffffff;
    padding: 50px;
    margin: 0 35px;
    box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
    border-radius: 5px;
    max-height: unset;
    width: 90%;
    min-width: unset;
  }

  @media (max-width: $width-tablet) {
    position: static;
    background-color: transparent;
    width: auto;
    box-shadow: none;
    padding: 50px 0;
    margin: 0 0 68px;
    max-height: unset;
    box-sizing: unset;
  }
}

.consult__form {
  @media (min-width: $width-tablet) and (max-width: $width-desktop) {
    max-width: 659px;
    margin: 0 auto;
  }
}
