.contacts {
  padding: 0;

  @media (max-width: $width-tablet) {
    padding: 20px 0;
  }

  @media (max-width: $width-desktop) {
    padding: 0;
  }
}

.contacts__title {
  @include text-sets(18px,32px,600);
  color: #141517;
  margin-left: 27%;
  margin-bottom: 7%;

  @media (max-width: $width-desktop) {
    text-align: left;
    margin-left: 81px;
  }

  @media (max-width: $width-tablet) {
    text-align: center;
    margin: 0 0 23px;
  }
}

.contacts__item {
  @include text-sets(14px, 17px, normal);
  padding-left: 30px;
  text-decoration: underline;
  margin-bottom: 0;
  position: relative;
  color: #fe7865;

  &:first-child {
    margin-bottom: 6%;
  }

  a {
    color: #fe7865;
  }

  &:hover,
  &:focus,
  &:active {
    a {
      color: rgba(#fe7865, 0.7);
    }

    &::before {
      opacity: 0.7;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
  }

  &--desktop {
    display: block;
  }

  &--other {
    display: none;
  }

  &--phone {
    @include text-correct(16px, 32px);

    &::before {
      background-image: url("../img/phone.svg");
      width: 30px;
      height: 30px;
    }
  }

  &--email {
    word-break: break-all;

    &::before {
      background-image: url("../img/mail.svg");
      width: 26px;
      height: 20px;
    }
  }

  @media (max-width: $width-desktop) {
    font-size: 14px;
    line-height: 17px;
    text-align: unset;
    padding-left: 35px;
    margin-bottom: 15px;
    margin-left: 50px;

    &--phone {
      @include text-correct(16px, 32px);
    }

    &--desktop {
      display: none;
    }

    &--other {
      display: block;
    }

    &--email {
      margin-bottom: 15px;
      margin-left: 50px;
    }
  }

  @media (max-width: $width-tablet) {
    margin: 0 auto;
    padding-left: 41px;

    &--email {
      margin: 0 auto 19px;
    }
  }
}

.contacts__list {
  @include list-refresh;
  display: flex;
  flex-direction: column;
  margin-left: 28%;

  @media (max-width: $width-desktop) {
    margin-left: 10%;
  }

  @media (max-width: $width-tablet) {
    margin: 0 0 9%;
  }
}
