.countries {
  @include list-refresh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  margin: 0;
  padding: 0 18%;

  @media (max-width: $width-desktop) {
    padding: 0 9% 10.7%;
  }

  @media (max-width: $width-tablet) {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0 16px;
  }
}

.countries__item {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 8.6%;

  @media (max-width: $width-desktop) {
    margin: 0 0 3.6%;
  }

  @media (width: $width-maket) {
    &:nth-child(4n+4) {
      margin-left: 11%;
    }

    &:nth-child(5n+5) {
      margin-right: 11%;
    }
  }

  @media (max-width: $width-tablet) {
    margin: 0 auto 12%;
  }
}

.countries__link {
  position: relative;
  display: block;
  margin: 0 1%;

  &:hover {
    .countries__hoover {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border: #ffffff solid 1px;
      margin-left: auto;
      margin-right: auto;
      padding: 32px 10%;
      margin-top: 152px;
      z-index: 2;
      width: 74%;
      box-sizing: border-box;

      @media (max-width: $width-desktop) {
        width: 85%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 3px;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
  }

  @media (max-width: $width-desktop) {
    width: 288px;
    height: 425px;
  }
}

.countries__hoover {
  display: none;
}

.countries__more {
  @include text-sets(14px, 17px, 500);
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.countries__block {
  position: absolute;
  width: 215px;
  background-color: #ffffff;
  z-index: 5;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding-top: 16px;
  padding-bottom: 12px;

  @media (max-width: $width-desktop) {
    padding-top: 14px;
    padding-bottom: 15px;
  }

  @media (max-width: $width-mobile) {
    padding: 20px 0;
    bottom: -0.1%;
  }
}

.countries__name {
  @include text-sets(24px, 29px, 500);
  color: #2c2e3f;
  text-align: center;
  margin: 0;
}

.countries__image {
  object-fit: cover;
}
