.feedback {
  @media (max-width: $width-desktop) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      height: 416px;
      width: 100%;
      z-index: -1;
      top: -80px;
      background-position: center;
    }

    &--greece {
      &::after {
        background-image: url("../img/aleyna-rentz-desktop-1.jpg");
      }
    }

    &--albany {
      &::after {
        background-image: url("../img/polina-rytova-desktop-1.jpg");
      }
    }

    &--macedonia {
      &::after {
        background-image: url("../img/milana-jovanov-desktop-1.jpg");
      }
    }

    &--montenegro {
      &::after {
        background-image: url("../img/hanna-bezsonova-desktop-1.jpg");
      }
    }

    &--croatia {
      &::after {
        background-image: url("../img/robert-thiemann-desktop-1.jpg");
      }
    }
  }
}

@media (max-width: $width-desktop) and (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
  .feedback {
    &--greece {
      &::after {
        background-image: url("../img/aleyna-rentz-desktop-1@2x.jpg");
      }
    }

    &--albany {
      &::after {
        background-image: url("../img/polina-rytova-desktop-1@2x.jpg");
      }
    }

    &--macedonia {
      &::after {
        background-image: url("../img/milana-jovanov-desktop-1@2x.jpg");
      }
    }

    &--montenegro {
      &::after {
        background-image: url("../img/hanna-bezsonova-desktop-1@2x.jpg");
      }
    }

    &--croatia {
      &::after {
        background-image: url("../img/robert-thiemann-desktop-1@2x.jpg");
      }
    }
  }
}


.feedback__wrapper {
  position: absolute;
  width: 28.9%;
  min-width: 300px;
  margin: 0;
  background-color: #ffffff;
  top: 18%;
  right: -3.2%;
  padding: 2.4% 4% 2.4% 3%;

  @media (max-width: $width-desktop) {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 382px;
    box-sizing: border-box;
    min-width: auto;
    padding: 30px 30px;
    margin: 97px auto 80px;
    min-height: 350px;
  }

  @media (max-width: $width-tablet) {
    align-items: center;
    width: 268px;
    margin-top: 82px;
    padding: 30px 16px;
    margin-bottom: 14%;
  }
}

.feedback__title {
  color: #2c2e3f;
  margin: 0 0 11%;

  @include text-sets(30px,36px,500);
  position: relative;

  &::after {
    content: "";
    width: 3.5vw;
    position: absolute;
    height: 2px;
    background-color: #fe7865;
    bottom: -37%;
    left: -1%;
  }

  @media (max-width: $width-desktop) {
    font-size: 30px;
    line-height: 36px;
    border: none;

    &::after {
      width: 68px;
      height: 1px;
    }
  }

  @media (max-width: $width-tablet) {
    font-size: 20px;
    line-height: 24px;
    border-bottom: 1px solid #fe7865;
    padding-bottom: 11px;
    margin-bottom: 9%;
    position: static;

    &::after {
      width: 0;
      height: 0;
    }
  }
}

.feedback__desc {
  @include text-sets(14px,28px,normal);
  color: rgba(44, 46, 63, 0.7);
  margin: 0 0 9%;
  text-align: unset;

  @media (max-width: $width-tablet) {
    text-align: center;
  }
}

.feedback__name {
  @include text-sets(16px,24px,500);
  font-family: "Poppins", sans-serif;
  color: #2c2e3f;

  @media (max-width: $width-desktop) {
    width: 174px;
  }

  @media (max-width: $width-tablet) {
    width: auto;
  }
}

.feedback__photo {
  border-radius: 50%;
  display: block;
  margin-right: 4%;

  @media (max-width: $width-desktop) {
    margin-right: 7%;
  }

  @media (max-width: $width-tablet) {
    margin-right: 0;
    margin-bottom: 4%;
  }
}

.feedback__person {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: $width-tablet) {
    flex-direction: column;
  }
}
