.field {
  position: relative;
   &--error {
     >.field__input {
       border: #F17D4B solid 1px;
     }
     &:before {
       content: "Данные не верны";
       position: absolute;
       color: #F17D4B;
       @include text-sets(12px, 14px, normal);
       top: -16px;
       left: 0;
     }
   }

}
.field__icon {
  position: absolute;
  top: 6px;
  left: 15px;
}
.field__input {
  padding: 6% 11% 6% 8%;
  width: 98%;

  &--phone {
    padding-left: 6%;
    &:not(:placeholder-shown),
    &:hover,
    &:active,
    &:focus {
      ~.field__icon {
        display: none;
      }
    }
  }

  &::placeholder {
    @include text-sets(13px, 17px, normal);
    color: #141517;
  }

  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    width: 100%;
    box-sizing: border-box;
    &--phone {
      padding-left: 26px;
    }
  }
  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
    padding: 15px 15px 16px;
    width: 100%;
    &--phone {
      padding-left: 26px;
    }
  }
}
