.footer__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @media  (min-width: $width-mobile) and (max-width: $max-width-mobile)  {
    flex-direction: column;
  }
  @media  (min-width: $width-tablet) and (max-width: $max-width-tablet)  {
    flex-wrap: wrap;
  }
}
.footer__item {
  width: 33%;
  position: relative;
  &::after {
    content: "";
    width: 1px;
    position: absolute;
    height: 26vh;
    background-color: #D7D9DF;
    bottom: 14%;
    right: -4%;
  }
  &:nth-child(2) {
    &::after {
      content: "";
      width: 1px;
      position: absolute;
      height: 26vh;
      background-color: #D7D9DF;
      bottom: 14%;
      right: -4%;
    }
  }
  box-sizing: border-box;
  &:last-child {
    width: 33%;
    position: static;
    &::after {
      content: "";
      width: 0;
      height: 0;
      background-color: transparent;
      bottom: 0;
      right: 0;
    }
  }
  @media  (min-width: $width-mobile) and (max-width: $max-width-mobile)  {
    width: auto;
    margin: 0;

    &::after {
      content: "";
      width: 100%;
      position: absolute;
      height: 1px;
      background-color: #D7D9DF;
      bottom: 0;
      right: 0;
    }
    &:nth-child(2) {
      &::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: #D7D9DF;
        bottom: 0;
        right: 0;
      }
    }
  }
  @media  (min-width: $width-tablet) and (max-width: $max-width-tablet)  {
    width: 50%;

    &:last-child {
      width: 100%;
      position: relative;
      &::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: #D7D9DF;
        bottom: 0;
        right: 0;
        top: 0;
      }
    }
    &::after {
      height: 59vh;
    }
    &:nth-child(2) {
      &::after {
        content: "";
        width: 0;
        height: 0;
        background-color: transparent;
        bottom: 0;
        right: 0;
      }
    }
  }
}
