.form__input-list {
  @include list-refresh;
  display: flex;
  flex-direction: row;
  margin: 0 5% 4%;
  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    flex-direction: column;
    margin: 0;
  }
  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
    justify-content: space-between;
  }

}
.form__input {
  &:first-child {
    margin-right: 13%;
  }
  @media (min-width: $width-mobile) and (max-width: $width-tablet) {
    &:first-child {
      margin-right: 0;
    }
    margin: 0 0 20px;
  }
}
.form__field {
  padding: 6% 11% 6% 11%;
  width: 98%;
  box-sizing: content-box;
  position: relative;
  &:last-child {
    padding-left: 8%;
  }
  &::placeholder {
    @include text-sets(14px,17px,normal);
    color: #141517;
  };
  &--error {
    border: #F17D4B solid 1px;
  }
  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    width: 100%;
    box-sizing: border-box;
  }
  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
    padding: 6% 11%;
    width: 98%;
    &:last-child {
      padding-left: 8%;
    }
  }
}

.form__button {
  width: 29%;
  padding: 3% 2%;
  display: block;
  margin: 0 auto 8%;
  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
  }
  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
    width: 250px;
    padding: 15px 0;
    margin: 0 auto;
  }
}
