.form__input-list {
  @include list-refresh;
  display: flex;
  flex-direction: row;
  margin: 0 auto 25px;
  justify-content: space-around;
  max-width: 715px;
  flex-wrap: wrap;

  @media (max-width: $width-desktop) {
    margin: 0 0 4%;
    max-width: none;
  }

  @media (max-width: $width-tablet) {
    flex-direction: column;
    margin: 0;
  }
}

.form__input {
  padding: 0;
  margin: 0;

  @media (max-width: $width-tablet) {
    margin: 0 0 20px;
  }
}

.form__button {
  width: 29%;
  padding: 3% 2%;
  display: block;
  margin: 0 auto 20px;

  @media (max-width: $width-desktop) {
    width: 250px;
    margin: 0 auto;
    padding: 19px 0;
    font-size: 13px;
  }

  @media (max-width: $width-tablet) {
    width: 100%;
    padding: 20px 0;
  }

  &--buy {
    width: 176px;
    padding: 18px 2%;
    display: block;
    margin-left: 35px;

    @media (max-width: $width-desktop) {
      width: 100%;
      padding: 19px 0;
      margin: 0;
    }
  }
}
