.intro {
  background-image: url("../img/aleyna-rentz-background-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 860px;
  margin-bottom: 10.4%;
}
.intro__wrapper {
  margin: 0 auto;
}
.intro__text {
  max-width: 375px;
  padding-left: 55.9%;
  padding-top: 9.9%;
}
.intro__title {
  margin: 0;
  @include text-sets(3.9em,80px,600);
  color: #ffffff;
  margin-bottom: 7%;
  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
    font-size: 30px;
    line-height: 45px;
  }
  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    font-size: 24px;
    line-height: 36px;
  }

}
.intro__desc {
  margin: 0;
  @include text-sets(1.1em,27px,normal);
  color: #ffffff;
  margin-bottom: 17%;
  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    color: #2C2E3F;
  }
}
.intro__button {
  padding: 28px 185px 28px 41px;
}
