.map-zone {
  background-image: url("../img/background-map.png");
  background-repeat: no-repeat;
  background-size: 100%;

  @media (max-width: $width-desktop) {
    background-image: none;
  }
}

@media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
  .map-zone {
    background-image: url("../img/background-map@2x.png");
    background-size: 50% auto;
  }
}

@media (max-width: $width-desktop) and (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
  .map-zone {
    background-image: none;
  }
}
