.places__title {
  @include text-sets(55px, 80px, 600);
  color: #2c2e3f;
  width: 30%;
  position: relative;
  margin: 0 0 5.7%;

  &::after {
    content: "";
    width: 12vw;
    position: absolute;
    height: 3px;
    background-color: #fe7865;
    bottom: -21%;
    left: 0;
  }

  @media (max-width: $width-desktop) {
    font-size: 30px;
    line-height: 45px;
    margin: 0 0 20px;
    width: auto;
    text-align: center;

    &::after {
      @include reset-el;
    }
  }

  @media (max-width: $width-tablet) {
    font-size: 24px;
    line-height: 36px;
    width: auto;
    text-align: center;
    position: static;
    margin: 0 0 6%;

    &::after {
      @include reset-el;
    }
  }
}

.places__desc {
  @include text-sets(16px, 28px, normal);
  color: rgba(#2c2e3f, 0.7);
  width: 30%;
  margin: 0 0 4.9%;
  min-width: 248px;

  @media (max-width: $width-desktop) {
    text-align: center;
    padding: 0;
    width: 51%;
    margin: 0 auto 5%;
    min-width: auto;
  }

  @media (max-width: $width-tablet) {
    margin: 0 0 7%;
    padding: 0;
    width: 100%;
  }
}

.places__text {
  padding: 0 19.4%;

  @media (max-width: $width-desktop) {
    padding: 0;
  }
}
