.places__title {
  @include text-sets(3.8em,1.6em,600);
  color: #2C2E3F;
  width: 30%;
  position: relative;
  margin: 0 0 5.7%;

  &::after {
    content: "";
    width: 12vw;
    position: absolute;
    height: 3px;
    background-color: #FE7865;
    bottom: -21%;
    left: 0;
  }

  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
    font-size: 30px;
    line-height: 45px;
  }
  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    font-size: 24px;
    line-height: 36px;
  }
}

.places__desc {
  @include text-sets(1.1em,28px,normal);
  color: rgba(#2C2E3F, 0.7);
  width: 30%;
  margin: 0 0 4.9%;
}
.places__wrapper {
  margin: 0 auto;
  padding: 0 19.5%;
}
