.price__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  margin: 0 0 12%;

  @media (max-width: $width-desktop) {
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    width: auto;
  }
}

.price__text {
  order: 2;
  margin-top: 6%;
  width: 26%;
  flex-grow: 2;

  @media (max-width: $width-desktop) {
    order: 0;
    margin: 0;
    max-width: none;
    flex-grow: initial;
    width: auto;
  }
}

.price__title {
  @include text-sets(55px,90px,600);
  margin-left: 4%;
  color: #2c2e3f;
  position: relative;

  &::after {
    content: "";
    width: 9.2vw;
    position: absolute;
    height: 3px;
    background-color: #fe7865;
    bottom: -17%;
    left: 0;
  }

  @media (min-width: $width-tablet) and (max-width: $width-desktop) {
    font-size: 30px;
    line-height: 45px;
  }

  @media (max-width: $width-tablet) {
    font-size: 24px;
    line-height: 36px;
  }

  @media (max-width: $width-desktop) {
    width: auto;
    position: static;
    text-align: center;
    margin: 0 0 20px;

    &::after {
      content: "";
      width: 0;
      position: static;
      height: 0;
      background-color: transparent;
    }
  }
}

.price__desc {
  @include text-sets(16px,27px,normal);
  color: rgba(#2c2e3f, 0.7);
  margin: 0 0 63px 3%;

  @media (max-width: $width-desktop) {
    font-size: 16px;
    line-height: 27px;
    margin: 0 0 5%;
    text-align: center;
  }

  @media (max-width: $width-tablet) {
    margin: 0 0 8%;
  }
}

.price__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__moto {
  @include text-sets(22px,34px,500);
  color: #141517;
  margin-bottom: 5.2%;
  text-align: center;
  margin-left: 6%;

  @media (max-width: $width-desktop) {
    font-size: 18px;
    line-height: 34px;
    margin: 0 0 10px;
  }
}

.price__phone {
  @include text-sets(20px,32px,normal);
  color: #000000;
  position: relative;
  padding-left: 75px;

  &::before {
    background-image: url("../img/phone-orange.svg");
    width: 30px;
    height: 30px;
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 9%;
    left: 2%;
  }


  &:hover,
  &:focus,
  &:active {
    color: rgba(#000000, 0.7);

    &::before {
      opacity: 0.7;
    }
  }

  @media (max-width: $width-desktop) {
    font-size: 18px;
    line-height: 32px;
    text-decoration: underline;
    color: #fe7865;
    position: static;
    margin: 0 0 4%;
    padding: 0;

    &::before {
      width: 0;
      background-image: none;
      height: 0;
      position: static;
    }
  }

  @media (max-width: $width-tablet) {
    margin-bottom: 14%;
  }
}

.price__plans {
  @include list-refresh;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-around;
  flex-shrink: 0;
  width: 73%;
  margin-right: 0;
  min-width: 840px;

  @media (max-width: $width-desktop) {
    padding: 0 50px;
    justify-content: space-between;
    max-width: inherit;
    margin-bottom: 125px;
    width: auto;
    min-width: auto;
  }

  @media (max-width: $width-tablet) {
    flex-direction: column;
    max-width: 288px;
    margin: 0 auto 50px;
    padding: 0;
  }
}
