.site-list {
  @include list-refresh;
  display: flex;
  flex-grow: 0;
  align-items: center;
  width: 41%;
  justify-content: space-between;

  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    @include text-sets(20px,28px,600);
  }
  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
    @include text-sets(18px,24px);
  }
}

.site-list__item {
  @include text-sets(1em,1em,500);
  &:last-child {
    margin-right: 0;
  }
  a {

    color: $nav-link-color-desktop;
    margin: 0 auto;
    &:hover,
    &:focus,
    &:active {
      color: #FE7865;
    }
  }
  &--desktop {
    @include text-sets(18px,32px,normal);
    position: relative;
    padding-left: 10%;
    a {
      color: #FE7865;
      text-decoration: underline;
    }
    &::before {
      background-image: url("../img/phone-orange.svg");
      width: 6vh;
      height: 6vh;
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      left: 1%;
    }
  }
  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    padding: 23px 0 21px;
    display: flex;

    &--desktop {
      display: none;
    }

    a {
      @include set-link-nav($nav-link-color-mobile);
      margin: 0 auto;
    }
  }
  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
  }
}
