.site-list {
  @include list-refresh;
  display: flex;
  flex-grow: 0;
  align-items: center;
  //width: 425px;
  //justify-content: space-between;

  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    @include text-sets(20px,28px,600);
  }
  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
    @include text-sets(18px,24px);
  }
}

.site-list__item {
  @include text-sets(14px,17px,500);
   margin-right: 41px;
  &:nth-child(2) {
     margin-right: 94px;
  }
  &:last-child {
    margin-right: 0;
  }
  a {

    color: $nav-link-color-desktop;
    margin: 0 auto;
    &:hover,
    &:focus {
      color: #FE7865;
    }

    &:active {
      color: #FE7865;
    }
  }
  &--desktop {
    @include text-sets(18px,32px,normal);
    a {
      color: #FE7865;
      text-decoration: underline;
    }
  }
  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    padding: 23px 0 21px;
    display: flex;

    &--desktop {
      display: none;
    }

    a {
      @include set-link-nav($nav-link-color-mobile);
      margin: 0 auto;
    }
  }
  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
  }
}
