.site-list {
  @include text-sets(20px,24px);
  @include list-refresh;
  width: 479px;
  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    @include list-refresh;
    @include text-sets(20px,28px,600);
    width: 100%;
  }
  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
    flex-direction: row;
    @include text-sets(18px,24px);
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 0;
    width: 440px;
  }
}

.site-list__item {
  a {
    color: $nav-link-color-desktop;
    margin: 0 auto;
    &:hover,
    &:focus {
      color: #FE7865;
    }

    &:active {
      color: #FE7865;
    }
  }
  &--desktop {
    a {
      color: #FE7865;
      text-decoration: underline;
    }
  }
  @media (min-width: $width-mobile) and (max-width: $max-width-mobile) {
    padding: 23px 0 21px;
    display: flex;

    &--desktop {
      display: none;
    }

    a {
      @include set-link-nav($nav-link-color-mobile);
      margin: 0 auto;
    }
  }
  @media (min-width: $width-tablet) and (max-width: $max-width-tablet) {
  }
}
