.tourinfo__button {
  @include text-sets(20px,24px,500);
  border: none;
  background-color: transparent;
  color: rgba(#2C2E3F, 0.3);
  &--active,
  &:active,
  &:hover,
  &:focus {
    color: #FE7865;
  }
}
.tourinfo__list-name {
  @include list-refresh;
}

.tourinfo__list {
  @include list-refresh;
}

