.tourinfo__button-wrapper {
  margin: 0 auto;
  padding-right: 40px * 1.7;

  @media (max-width: $width-desktop) {
    padding: 0 0 0 4.3%;
  }
}

.tourinfo__list-wrapper {
  margin: 0 auto;
  padding: 0 19.5%;

  @media (max-width: $width-desktop) {
    padding: 0;
  }
}

.tourinfo__button {
  @include text-sets(20px,24px,500);
  border: none;
  background-color: transparent;
  color: rgba(#2c2e3f, 0.3);
  padding: 0;

  &--active,
  &:active,
  &:hover,
  &:focus {
    color: #fe7865;
  }
}

.tourinfo__list-name {
  @include list-refresh;
  display: flex;
  margin-bottom: 5.9%;
  justify-content: space-between;
  width: 61%;
  max-width: 1280px;
  border-bottom: 2px rgba(44, 46, 63, 0.3) solid;
  padding-bottom: 0.9%;
  min-width: 689px;

  @media (max-width: $width-desktop) {
    overflow: hidden;
    justify-content: unset;
    width: auto;
    min-width: auto;
    max-width: none;
    padding-bottom: 1.7%;
    margin-bottom: 4.9%;
  }

  @media (max-width: $width-tablet) {
    padding-bottom: 5.7%;
    margin-bottom: 7.9%;
  }
}

.tourinfo__name-item {
  @media (max-width: $width-tablet) {
    margin-right: 100px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: $width-desktop) {
    margin-right: 100px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.tourinfo__list {
  @include list-refresh;
  display: flex;
  justify-content: space-between;
  margin: 0 0 20.6%;

  @media (max-width: $width-desktop) {
    margin: 0;
  }
}

.tourinfo__item {
  display: none;

  &--active {
    display: flex;
    flex-direction: row;

    @media (max-width: $width-desktop) {
      flex-direction: column;
    }

    @media (max-width: $width-tablet) {
      display: block;
    }
  }
}
