.wrapper {
  margin: 0 auto;
  padding: 0 19.5%;
  width: auto;

  @media (max-width: $width-desktop) {
    padding: 0 21px;
    width: auto;
  }

  @media (max-width: $width-tablet) {
    padding: 0 16px;
    width: auto;
  }
}
