$background-color: #ffffff;
$width-tablet: 768px;
$width-desktop: 1024px;
$width-mobile: 320px;
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
$nav-border-active-color-desk: #ffffff;
$nav-link-color-desk: #ffffff;
$nav-link-color-mobile: #48494D;
$nav-link-color-desktop: #141517;
$max-width-tablet: 1023px;
$max-width-mobile: 767px;
